# Godot 4+ specific ignores
.godot/
.vscode/
**/*.import

# Allow only the proto_shape addons folder
**
!addons/proto_shape

# Allow only specific scenes
addons/proto_shape/scenes/*.tscn
!addons/proto_shape/scenes/prototype_scene.tscn
!addons/proto_shape/scenes/proto_ramp_logo.tscn
