# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder in release and Asset Store archives.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
